apiVersion: apps/v1
kind: Deployment
metadata:
  name: memo-postgres
  namespace: memo
  labels:
    app: memo
    tier: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: memo
      tier: db
  template:
    metadata:
      labels:
        app: memo
        tier: db
    spec:
      containers:
        - name: postgres
          image: postgres:15-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: memo-db-secret
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: memo-db-secret
                  key: POSTGRES_PASSWORD
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: memo-db-secret
                  key: POSTGRES_DB
            - name: PGDATA
              value: /var/lib/postgresql/data/pgdata
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
      volumes:
        - name: data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: memo-postgres
  namespace: memo
  labels:
    app: memo
    tier: db
spec:
  selector:
    app: memo
    tier: db
  ports:
    - port: 5432
      targetPort: 5432
